<script>
    $('body').scrollspy({ target: '#menu' });
</script>

<div data-spy="scroll" data-target="#contact" data-offset="0">
    <section class="landing-section-contact">
        <div id="contact" class="landing-section-contact">
            <center><h2>Contact me:</h2>
                <h3>If I piqued your interest, you would like to ask me something, say hi or offer me a job, please
                    contact me through my<br><br> <a target="_blank"
                                                     href="https://www.linkedin.com/in/micha%C5%82-niemiec-935460183/">LinkedIn
                        profile</a><br><br>
                    Or send me an email:<br><br>
                    <script type="text/javascript">
                    function gen_mail_to_link(lhs,rhs,subject) {
                    document.write("<a href=\"mailto");
                    document.write(":" + lhs + "@");
                    document.write(rhs + "?subject=" + subject + "\">" + lhs + "@" + rhs + "<\/a>");
                    }

                    </script>
                    <script type="text/javascript">
                    gen_mail_to_link('michal.niemiec.it','gmail.com','Hello');
                    </script>
                    <noscript>
                        <em>Email address is protected by JavaScript. Please activate JavaScript to see my email.</em>
                    </noscript>

                    <br><br>Thank you very much and have a nice day :-)

                    <br><br><link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
                    <a href="#top"><i class="material-icons" style="font-size:48px;color:#e9ecef">vertical_align_top</i></a>
                </h3>
            </center>
        </div>
    </section>
</div>