@media only screen and (max-width: 815px) {
     img.portrait {
         float: left !important;
         width: 120px !important;
         padding: 10px !important;
    }
     .landing-section-content {
         width: 90% !important;
    }
     .project_images {
         width: 90% !important;
    }
     .name {
         font-size: 3em !important;
    }
     .name-text{
         font-size: 0.8em !important;
    }
     .card-title{
         font-size: 2em !important;
    }
     .card-text{
         line-height: 1.5em !important;
         height: 1.5em !important;
         overflow: hidden !important;
    }
     .display-2{
         margin-top: 20px !important;
    }
     .landing-skills{
         width: 90% !important;
         margin: auto !important;
    }
     .icon {
         width: 75px !important;
         padding: 0px !important;
    }
     .icon:hover {
         -webkit-transform: scale(1.0) !important;
         transform: scale(1.0) !important;
    }
     .table {
         margin: auto !important;
    }
     #button_code, #button_live{
         display: none;
    }
     #contact{
         width: 90% !important;
    }
     .content{
         -webkit-column-count: 1 !important;
         -moz-column-count: 1 !important;
         column-count: 1 !important;
    }
}
 body {
     position: relative !important;
     background: #e9ecef !important;
}
 a {
     color: #212529 !important;
     text-decoration: underline !important;
}
 a:hover{
     color: #4c555e !important;
     text-decoration: none !important;
}
 .landing-section {
     min-height: 100vh;
     width: 100%;
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     background: #e9ecef;
}
 .landing-section-secondary {
     min-height: 100vh;
     width: 100%;
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     background: #383838;
     color: #e9ecef !important;
}
 .landing-section-secondary h3 {
     color: #e9ecef !important;
}
 .landing-section-contact {
     min-height: 45vh;
     width: 100%;
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     background: #383838;
     color: #e9ecef !important;
}
 .landing-section-contact a{
     color: #e9ecef !important;
     text-decoration: underline !important;
}
 .header {
     width: 100%;
     display: flex;
     justify-content: center;
     top: 0;
     left: 0;
     position: absolute;
     font-size: 150%;
     color: white !important;
}
 .landing-main {
     background: linear-gradient(-45deg, #ffffff, #c9cdcf, #ffffff);
     background-size: 400% 400%;
     animation: gradient 20s ease infinite;
}
 @keyframes gradient {
     0% {
         background-position: 0% 50%;
    }
     50% {
         background-position: 100% 50%;
    }
     100% {
         background-position: 0% 50%;
    }
}
 .portrait {
     float: left;
     border-radius: 50%;
     width: 235px;
     padding: 10px;
}
 .social {
     float: left;
     border-radius: 50%;
     width: 75px;
     padding: 10px;
     -webkit-transform: scale(1);
     transform: scale(1);
     -webkit-transition: .3s ease-in-out;
     transition: .3s ease-in-out;
}
 .social img:hover {
     -webkit-transform: scale(1.3);
     transform: scale(1.3);
}
 .icon {
     border-radius: 50%;
     width: 120px;
     padding: 10px;
     -webkit-transform: scale(1);
     transform: scale(1);
     -webkit-transition: .3s ease-in-out;
     transition: .3s ease-in-out;
}
 .icon:hover {
     -webkit-transform: scale(1.3);
     transform: scale(1.3);
}
 h1 {
     font-size: 3.5em !important;
}
 h2 {
     font-size: 2.5em !important;
}
 h3 {
     font-size: 1.2em !important;
}
 .card:hover .card-img, .card:focus .card-img {
     transform: scale(1.01);
     -webkit-transition:all .2s ease-in-out;
     transition:all .2s ease-in-out;
     opacity:0.15;
     filter: blur(2px);
     -moz-filter: blur(3px);
     -webkit-filter: blur(3px);
}
 .card-img-bg {
     background: #e9ecef !important;
}
 .card-img-overlay>h2, .card-img-overlay>h5, .vertical-center>a{
     visibility:hidden;
}
 .card-img-overlay:hover h2, .card-img-overlay:hover h5, .card-img-overlay:hover a{
     visibility: visible;
}
 .card:hover .card-img-overlay p{
     font-size:1.5em;
     letter-spacing:0.02em;
}
 .vertical-center {
     width:100%;
     margin: 0;
     position: absolute;
     top: 50%;
     left: 50%;
     -ms-transform: translate(-50%, -50%);
     transform: translate(-50%, -50%);
}
 .dropdown-menu {
     background-color:#e9ecef !important;
}
 .dropdown-item {
     background-color:#e9ecef !important;
}
 .navbar-default .navbar-nav > .active{
     color: #000;
     background: #d65c14;
}
 .navbar .active{
     background-color: #d1d4d7 !important;
}
 .navbar .nav-link{
     font-size:0.9em !important;
}
 .navbar .nav-link {
     padding-top: 0px !important;
     padding-bottom: 0px !important;
}
 .navbar {
     max-height: 100vh !important;
     overflow-y: auto !important;
}
 .btn-outline-light:hover, .btn-outline-light:active, .btn-outline-light:visited {
     background-color: #d1d4d7 !important;
     border-color: #d1d4d7 !important;
}
 .material-icons {
     text-decoration: none !important;
     color: #e9ecef !important;
     background: #383838;
     border-radius: 20%;
     margin: 10px;
}
 .carousel-control-next, .carousel-control-prev, .carousel-indicators {
     filter: invert(100%);
}
